<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MSRC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <MSRC.Properties.Settings>
      <setting name="IPAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="MACAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="Antenna1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Antenna2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Antenna3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Antenna4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PowerMinIndex" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="PowerMaxIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TssiMinIndex" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="TssiMaxIndex" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="TagType" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TimesRead" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TSSI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TSSIAvg" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SCDE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SCDEAvg" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StdDev" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TagState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Temperature" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DryThreshold" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="WetThreshold" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Region" serializeAs="String">
        <value>USA</value>
      </setting>
      <setting name="ReadMoisture" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReadTemp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AvgTime" serializeAs="String">
        <value>60</value>
      </setting>
    </MSRC.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>